.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
  
.card {
border: 1px solid #ddd;
padding: 20px;
text-align: center;
background-color: purple !important;
}

.img-class {
    border-radius: 50%;
    object-fit: contain;
    width: 150px;
    height: 150px;   
}

.img-section {
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
}